body {
font-family: Arial;
background: #f4f4f4;
}


.nav {
display: flex;
justify-content: space-between;
background: black;
color: white;
padding: 10px;
}


.card {
background: white;
margin: 10px;
padding: 15px;
border-radius: 10px;
}


.form {
display: flex;
flex-direction: column;
width: 200px;
margin: auto;
}


button {
background: black;
color: white;
margin-top: 10px;
}